:root {
	font-size: 62.5%;
	font-family: "Inter", sans-serif;

	--color-text-light: #f7f7f7;
	--color-text-dark: #333;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: var(--color-text-light);
	text-decoration: none;
}

/* NAV-BAR */

.nav-bar {
	width: 100%;
	position: absolute;
	background-color: rgba(51, 51, 51, 0.8);

	padding: 1rem 0;

	display: flex;
	align-items: center;
	justify-content: space-around;
	/* gap: 8rem; */
}

.nav-bar a {
	font-size: 3.2rem;
	font-weight: 600;
}

.nav-bar a.logo {
	font-size: 5rem;
	padding: 1rem 2rem;

	border-radius: 1rem;

	background-color: #c61212;
	color: #f9cf6c;
}

/* DROPDOWN MENU */
.nav-bar {
	list-style-type: none;
	padding: 2rem 0;
	z-index: 999999;
}

.nav-bar li {
	position: relative;
	height: max-content;
}

.dropdown li a {
	font-size: 2rem;
	font-weight: 300;
	color: var(--color-text-light);
	display: block;
	padding: 1.5rem 2rem;
}
.dropdown {
	width: 100%;
	list-style-type: none;
	position: absolute;
	padding: 4rem 0;
	z-index: 999999;
	display: none;

	background-color: rgba(51, 51, 51, 0.8);
}

ul li:hover .dropdown,
ul li:focus .dropdown {
	display: block;
}

ul li:hover,
ul li:focus {
	display: block;
}

/* SLIDER */

.slider {
	position: relative;

	width: 100%;
	margin: auto;

	overflow: hidden;
}

.slider.bg-1 {
	color: var(--color-text-light);
	background: url(../images/bg-1.webp);
	background-position: center;
	background-size: cover;
}

.slider.bg-2 {
	color: var(--color-text-light);
	background: url(../images/bg-2.jpeg);
	background-position: center;
	background-size: cover;
}

.slider.bg-3 {
	color: var(--color-text-light);
	background: url(../images/bg-3.jpeg);
	background-position: center;
	background-size: cover;
}

.slider.bg-4 {
	color: var(--color-text-light);
	background: url(../images/bg-4.jpeg);
	background-position: center;
	background-size: cover;
}

.slider.bg-5 {
	color: var(--color-text-light);
	background: url(../images/bg-5.jpeg);
	background-position: center;
	background-size: cover;
}

.slider.bg-6 {
	color: var(--color-text-light);
	background: url(../images/bg-6.jpeg);
	background-position: center;
	background-size: cover;
}

.slider.bg-7 {
	color: var(--color-text-light);
	background: url(../images/bg-7.avif);
	background-position: center;
	background-size: cover;
}

.slider.bg-8 {
	color: var(--color-text-light);
	background: url(../images/bg-8.jpeg);
	background-position: center;
	background-size: cover;
}

.slider.bg-1 > div > *,
.slider.bg-2 > div > *,
.slider.bg-3 > div > *,
.slider.bg-4 > div > *,
.slider.bg-5 > div > *,
.slider.bg-6 > div > *,
.slider.bg-7 > div > *,
.slider.bg-8 > div > * {
	background-color: transparent;
}

.slides {
	/* width: 100%; */
	position: relative;
	height: 100vh;
	aspect-ratio: 7 / 5;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider svg {
	width: 100%;
	display: none;
}

.slides-hero {
	width: 100%;
}

.slides img {
	height: 100vh;
	width: 100%;
	display: none;
}

.slider .hero {
	background-color: #bcbcbc;
	width: 100%;
	height: 90vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.text-shadow {
	text-shadow: 0 5px 25px rgba(0, 0, 0, 1);
}

.slider .hero-divider {
	background-color: #f9cf6c;
	height: 10vh;
	width: 100%;
}

.hero-title {
	font-size: 9.8rem;
}

.hero-description {
	font-size: 3.2rem;
	text-align: center;

	padding: 0 4rem;
}

svg.display-slide {
	display: block;
}

img.display-slide {
	display: block;
}

.slider button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	padding: 2rem 1rem;

	font-size: 2rem;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;

	border: none;
	cursor: pointer;
}

.slider button.ask-a-question {
	position: relative;
	top: 0;
	transform: none;

	font-size: 2rem;
	color: var(--color-text-light);
	background-color: #c61212;
	border: none;
	padding: 1rem 2rem;
	border-radius: 2rem;
}

button.prev {
	left: 0;
}
button.next {
	right: 0;
}

/* MAIN GALLERY */

.gallery {
	width: 80%;
	margin: 14rem auto;
	padding: 0 8rem;

	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: start;
	justify-items: center;
	row-gap: 14rem;
	column-gap: 14rem;
}

.gallery a img {
	aspect-ratio: 1 / 1;
	object-fit: cover;
	width: 100%;
}

.gallery-item {
	width: 100%;
	display: flex;
	align-items: flex-start;
	gap: 2rem;
}

.item-title {
	flex-grow: 1;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.item-title h3 {
	color: var(--color-text-dark);
	font-size: 2.4rem;
}

.item-title button {
	font-size: 2rem;
	color: var(--color-text-light);
	background-color: #c61212;
	border: none;
	padding: 1rem 2rem;
	border-radius: 2rem;
}

.gallery svg {
	width: 100%;
}

.gallery a:nth-child(2n) {
	justify-self: start;
}

.gallery a:nth-child(2n-1) {
	justify-self: end;
}

.svg-twix {
	background-color: #f0c869;
}

.svg-mobile {
	background-color: #fb9d00;
}

/* HAPPY MEAL */
.happy-meal-container {
	padding: 8rem 12rem 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 14rem;
}

.happy-meal-section {
	display: flex;
	flex-direction: column;
	gap: 6rem;
}

.happy-meal-section:not(:first-child) {
	width: 100%;
	align-self: flex-start;
}

.centered {
	justify-content: center;
	border-top: 2rem solid #f9cf6c;
	margin-top: 8rem;
	padding-top: 14rem;
}

.centered .happy-meal-item {
	border: 1px solid black;
	padding-bottom: 2rem;
	gap: 4rem;
}

.happy-meal-section h3 {
	font-size: 3.2rem;
	text-align: center;
}

.happy-meal-items {
	display: flex;
	gap: 6rem;
}

.happy-meal-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.happy-meal-item h4 {
	font-size: 2rem;
	font-weight: 400;
}

.happy-meal-item a {
	font-size: 2rem;
	color: var(--color-text-light);
	background-color: #c61212;
	border: none;
	padding: 1rem 2rem;
	border-radius: 2rem;
}

/* MCDONALD MENU */
.menu-section {
	width: 100%;
	align-self: flex-start;

	display: flex;
	flex-direction: column;
	gap: 8rem;
}

.menu-section h3 {
	font-size: 3.2rem;
	text-align: center;
}

.menu-items {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 10rem;
	row-gap: 8rem;
}

.menu-items:nth-child(2n) {
	justify-self: end;
}

.menu-items:nth-child(2n-1) {
	justify-self: start;
}

/* INGREDIENTS */

.ingredients-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.ingredients-container svg {
	width: 100%;
	height: auto;
}

.ingredients-container div {
	padding: 4rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

.ingredients-container div h3 {
	font-size: 4.4rem;
}

.ingredients-container div p {
	line-height: 1.5;
	letter-spacing: 0.5px;
	text-align: center;
	font-size: 2rem;
}

/* SUPPLIERS */
.suppliers-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	row-gap: 4rem;
}

.suppliers-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-between; */
	gap: 2rem;
}

.suppliers-item svg {
	width: 100%;
	height: auto;
}

.suppliers-item .item-description {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.5rem;
}

.suppliers-item h3 {
	font-size: 3.2rem;
}

.suppliers-item p {
	font-size: 2.2rem;
}

.suppliers-item a {
	font-size: 2rem;
	color: var(--color-text-light);
	background-color: #c61212;
	border: none;
	padding: 1rem 2rem;
	border-radius: 2rem;
}

/* YOUR RIGHT TO KNOW */

.yrtk-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 4rem;
	row-gap: 2rem;
	padding: 2rem 4rem;
}

.questions {
	padding: 1rem 2rem;
}

.questions h4 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.question {
	font-size: 1.6rem;
}

.question a {
	color: #4f4fdb;
}

/* FOOTER */

/* FOOTER - NAV */
.nav-footer {
	color: var(--color-text-light);
	background-color: #5b5555;

	width: 100%;
	/* height: 20rem; */

	margin-top: 3rem;
	padding: 3rem 0;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
}

.nav-footer > div > h2 {
	font-size: 3.2rem;
	margin-bottom: 3rem;
}

.nav-footer a {
	font-size: 2rem;
}

.nav-links {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.nav-links h3 {
	font-size: 2rem;
	font-weight: 100;
}

/* FOOTER - SOCIALS */
.socials {
	color: var(--color-text-light);
	background-color: #0e0e0e;

	padding: 0 6rem;

	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}

.socials > div {
	padding: 2rem 0;
}

.socials > div:nth-child(2n-1) {
	justify-self: start;
}

.socials > div:nth-child(2n) {
	justify-self: end;
}

.social-links {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.socials h2 {
	font-size: 2.4rem;
	font-weight: 500;
}

.socials svg {
	height: 5rem;
}

.svg-fb {
	fill: #1496f4;
}

.svg-twitter {
	fill: #00c8ff;
}

.svg-yt {
	fill: #fe0301;
}

.social-links .svg-ig {
	fill: url(#MyGradient);
}

.download {
	padding-right: 1rem;
	padding-left: 1rem;

	display: flex;
	align-items: center;
	gap: 2rem;
}

.download h2 {
	flex-basis: 40%;
}

.download a {
	display: inline-block;
	flex-grow: 0;
	flex-shrink: 10000;
}

.download a img {
	width: 75%;
}

.svg-dl-on-appstore,
.svg-get-it-gp {
	height: 20rem;
	width: 100%;

	flex-shrink: 0;
}

.terms-and-conditions p {
	color: #c0b9b9;
}

.copy-right {
	display: flex;
	flex-direction: column;
}

.reserved {
	color: #8e8c8c;
}

.dev-by {
	color: var(--color-text-light);
}

.prepared-by {
	color: var(--color-text-light);
	background-color: #3c3c3c;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 3rem 2rem;
}

.prepared-by p {
	font-size: 2.4rem;
	margin-bottom: 1rem;
}

.student {
	font-size: 1.6rem;
	font-weight: 100;
}
